h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6b1c1c;
    overflow: hidden;
    text-align: center;
} 

input[type=button], input[type=submit], input[type=reset]{
    background-color: #6b1c1c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0px 2px;
    cursor: pointer;
}

ul a {
    display: inline-block;
    padding: 8px;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
}

ul li {
    display: inline;
}

li a:hover {
    background-color: #020205;
}

img {
    border-radius: 60px;
    border: 1px rgb(0, 0, 0) solid;
    padding: auto;
    float: left;
    width: 150px;
    height: 150px;
    display: block;
}

.text {
    float: left;
    height: auto;
    padding-top: 60px;
}

table {
    border: 0px solid transparent;
}