<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/plotDice.css')}}">
        <link href="url_for('static', filename='templates')}}">
        <title>Intern Project - {{title}}</title>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <div class = "page-header">
            <ul>
                <li><a href = "{{url_for('randDice') }}">Random Dice</a></li>
                {% if current_user.is_anonymous %}
                <li><a href = "{{url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{url_for('logout') }}">Logout</a></li>
                {% endif %}
                <li><a href = "{{url_for('swapCase') }}">Swap Case</a></li>
                <li><a href = "{{url_for('plotDice') }}">Plot Dice</a></li>
            </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for messages in messages %}
            <li> {{ messages }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class = "content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>