{% extends 'base.html' %}

{% block content %}

        {% if current_user.is_anonymous %}
        <h2>Welcome!</h2>
        {% else %}
        <h2>Welcome, {{ current_user.username }}!</h2>
        {% endif %}

        <h4>Table header here</h4> 
        <table>
            <tr>
                <td><img class ='image' id = 'pic0'></td>
                <td class = 'text' id = 'word1'></td>
            </tr>
            <tr>
                <td><img class ='image' id = 'pic1'></td>
                <td class = 'text' id = 'word2'></td>
            </tr>
            <tr>
                <td><img class ='image' id = 'pic2'></td>
                <td class = 'text' id = 'word3'></td>
            </tr>
            <tr>
                <td><img class ='image' id = 'pic3'></td>
                <td class = 'text' id = 'word4'></td>
            </tr>
            <tr>
                <td><img class ='image' id = 'pic4'> </td>
                <td class = 'text' id = 'word5'></td>
            </tr>

        </table>
        <script>
            var words = '{{randWords|tojson}}', numb = '{{numbers|tojson}}';
            words = JSON.parse(words), numb = JSON.parse(numb);
            var temp;
            for(var i = 0; i < words.length; i++){
                if(numb[i].charAt(numb[i].length - 1) == '1'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice1.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
                else if(numb[i].charAt(numb[i].length - 1) == '2'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice2.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
                else if(numb[i].charAt(numb[i].length - 1) == '3'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice3.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
                else if(numb[i].charAt(numb[i].length - 1) == '4'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice4.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
                else if(numb[i].charAt(numb[i].length - 1) == '5'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice5.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
                else if(numb[i].charAt(numb[i].length - 1) == '6'){
                    temp = document.getElementById(`pic${i}`);
                    temp.src = 'static/images/dice6.png';
                    temp = document.getElementById(`word${i+1}`);
                    temp.innerHTML = words[i];
                }
            }
        </script>
{% endblock %}